body{
margin: 0 ;
padding: 0;
background-color: rgb(200, 255, 0);
font-family: Arial, Helvetica, sans-serif;
}
    .navbar ul{
      list-style: none;

background-size: -10%;

padding: 0; 
margin: 0;
text-align: right;
     
    }
    li{
      display: inline-block;
      background: 80px;
    }
    
    h1{ 
       display: inline;
        
    }
   
   .firstdiv{
      position: absolute; 
      left: 50%; 
      transform: translate(-50%,-50%);
      
   }
   .navbar a{
      text-decoration: none;
      color: rgb(229, 255, 0);
      width: 80pxpx;
      display: block;
      padding: 25px 20px;
      text-transform: uppercase;
      font-weight: bold ;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 14px;

   }
   .navbar a :hover{
      background: #353640

   }
      .dodo{
         display: inline;
         margin:15% ;
      }
     .bodyheader{
  margin-left: 25%   ;

     }
     .miro{
      display: inline-block;
      font-size: 20px;
      width: 750px;
      padding-left: 10%;
  color: dimgray; 
}
.container {
   position: relative;
 }
 
 /* Bottom right text */
 .text-block {
   position: absolute;
   bottom: 15px;
   right: 15px;
   background-color: black;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   b
 }
      
   

 
 